<aside class="col-sm-3 aside_el">
    <h2>Formation</h2>
    <h5>Depuis 2009</h5>
</aside>
<div class="col-sm-9">                
    {% for formation in formations %}
    <div itemscope itemtype="http://schema.org/EducationalOrganization">
        <article class="borderleft par_el in_spacing">
            <span class="periode label label-primary">{{ formation.periode|raw }}</span>
            <div class="bigspacing">
                <header>
                    <h2><span itemprop="name">{{ formation.nom|raw }}</span></h2>
                    <h3><span itemprop="name">{{ formation.intitule }}</span></h3>
                </header>
                <p itemprop="description">{{ formation.description|raw }}</p>
                <ul class="fa-ul">
                    {% for point in formation.points %}
                        <li><i class="fa fa-li fa-angle-right"></i> {{ point|raw }}</li>
                    {% endfor %}                                
                </ul>
            </div>
        </article>
    </div>
    {% endfor %}
</div>        