<aside class="col-sm-3 aside_el">
    <h2>Expérience</h2>
    <h5>Depuis 2011</h5>
</aside>
<div class="col-sm-9">                
    {% for experience in experiences %}
        <div itemscope itemtype="http://schema.org/Organization">
            <article class="borderleft par_el in_spacing">
                <span class="periode label label-primary">{{ experience.periode|raw }}</span>
                <div class="bigspacing">
                    <header>
                        <h2><span itemprop="name">{{ experience.nom|raw }}</span></h2>
                        <h3><span itemprop="jobTitle">{{ experience.intitule }}</span></h3>
                    </header>
                    <p itemprop="description">{{ experience.description }}</p>
                    <ul class="fa-ul">
                        {% for detail in experience.points %}
                            <li> 
                                <i class="fa fa-li fa-angle-double-right"></i> 
                                {{ detail|raw }} 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    {% endfor %}
</div>            