{% spaceless %}<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>
        <meta name="keywords" content="developpeur, web, php, toulouse, guillaume, sainthillier, site, realisation, réalisations, competence, compétences, experience, cv, adresse, coordonnées" >
        <meta name="description" content="Développeur Web à Toulouse, accédez à mon CV et découvrez mes principales réalisations. Contactez-moi et rencontrons-nous !" >
        <meta name="author" content="Guillaume Sainthillier">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        
        <meta property="og:title" content="Développeur Web PHP Toulouse, Guillaume Sainthillier" >
        <meta property="og:type" content="website" >
        <meta property="og:url" content="{% spaceless %}{{ url('guy_cv') }}{% endspaceless %}" >
        <meta property="og:image" content="{% block og_image %}{{ app.request.uriForPath('/img/guillaume_sainthillier.png') }}{% endblock %}" >
        <link rel="author" href="https://plus.google.com/+guillaumesainthillier" >
        <link rel="publisher" href="https://plus.google.com/+guillaumesainthillier" >
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >

        <meta name="geo.region" content="FR" >
        <meta name="geo.placename" content="Toulouse" >
        <meta name="geo.position" content="43.613731;1.458853" >
        <meta name="ICBM" content="43.613731, 1.458853" >

        <!-- CSS -->
        <link href="//fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Pacifico:400,700" rel="stylesheet" type="text/css">
        {% stylesheets 
            'bower/bootstrap/dist/css/bootstrap.css'
            'bower/font-awesome/css/font-awesome.css'
            'css/style.css'
            filter='cssrewrite,?yui_css'
            output='prod/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
        {% endstylesheets %}
        
        {% block css %}{% endblock %}
        <!-- ./CSS -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        {% javascripts 
            'bower/html5shiv/dist/html5shiv.js'
            'bower/respond/dest/respond.src.js'
            filter='?yui_js'
            output='prod/js/ie.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
    </head>
    <body>        
        <!-- Menu -->
        {% include "GuyBlogBundle:Blocks:block_menu.html.twig" %}
        <!-- ./Menu -->
    
        {% block body %}{% endblock %}
        
        <!-- Footer -->
        {% include "GuyBlogBundle:Blocks:block_footer.html.twig" %}
        <!-- ./Footer -->

        <div class="color_wrapper"></div>
        <div id="elevator_item"> 
            <a id="elevator" href="#" title="Retour en Haut"></a> 
        </div>
    
        <!-- JS -->    
        {% javascripts 
            'bower/jquery/dist/jquery.js'
            'bower/bootstrap/dist/js/bootstrap.js'
            filter='?yui_js'
            output='prod/js/scripts.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <script type="text/javascript" >{% spaceless %}
            //Email SPAM protection
            {% if email %}
                {% set infos_mails = email|split('@') %}
                var username = "{{ infos_mails[0] }}";
                var host = "{{ infos_mails[1] }}";                
            {% endif %}
                
            //Téléphone SPAM protection
            var telephone = {{ telephones|json_encode|raw }};
            
            //jQuery backward brower detection
            jQuery.browser = {};
            jQuery.browser.mozilla = /mozilla/.test(navigator.userAgent.toLowerCase()) && !/webkit/.test(navigator.userAgent.toLowerCase());
            jQuery.browser.webkit = /webkit/.test(navigator.userAgent.toLowerCase());
            jQuery.browser.opera = /opera/.test(navigator.userAgent.toLowerCase());
            jQuery.browser.msie = /msie/.test(navigator.userAgent.toLowerCase());
        {% endspaceless %}</script>

        {% block js %}{% endblock %}        
        <script type="text/javascript" >
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-44318869-1', 'sainthillier.fr');
            ga('send', 'pageview');
        </script>
        <!-- ./JS -->
</body>
</html>
{% endspaceless %}