<html>
    <head></head>
    <body>
        <h1><a href="mailto:{{ contact.mail }}">{{ contact.nom }}</a> a fait une demande de contact</h1>
        <a href="{{ contact.web }}">{{ contact.web }}</a>
        <p>
            {{ contact.message }}
        </p>
    </body>
</html>