<div class="modal fade" id="info_item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Fermer</span>
                </button>
                {% if realisation.webPathImageIcon %}
                    <img class="pull-left" src="{{ realisation.webPathImageIcon|imagine_filter('thumb_realisation_thumb') }}" />
                {% endif %}
                <h4 class="modal-title text-center">{{ realisation.titre|raw }}</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="{{ realisation.webPathImagePrincipale ? (realisation.webPathImagePrincipale|imagine_filter('thumb_realisation_full')) : '' }}" />
                <p>
                    {{realisation.contenu|raw}}
                </p>
                {% if realisation.collaboration %}
                    <i class="fa fa-group" ></i> {{ realisation.collaboration|raw }}
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if realisation.lien %}
                    {% set infos = 
                        [
                            { 'nom' : realisation.lien.descriptionDemo, 'lien' : realisation.lien.urlDemo },
                            { 'nom' : realisation.lien.descriptionSite, 'lien' : realisation.lien.urlSite },
                            { 'nom' : realisation.lien.descriptionProjet, 'lien' : realisation.lien.urlProjet },
                        ]
                    %}
                    {% for i, info in infos %}
                        {% if info.lien|length > 0 %}
                            <a target="_blank" href="{{ info.lien }}" class="btn btn-lg btn-{{ i == 0 ? "primary" : "info"}}">{{ info.nom|raw }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fermer</button>                        
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->