<a class="btn btn-success" href="{{ path('guy_gestion_formation_ajouter') }}"><i class="fa fa-plus"></i></a>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td><a href="{{ path('guy_gestion_formation_modifier', {'id': formation.id}) }}">{{ formation.nom|striptags }}</a></td>
                <td><a class="btn btn-danger pull-right" 
                       href="{{ path('guy_gestion_formation_supprimer', {'id': formation.id}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>