<a class="btn btn-success" href="{{ path('guy_gestion_competence_ajouter') }}"><i class="fa fa-plus"></i></a>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Niveau</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td><a href="{{ path('guy_gestion_competence_modifier', {'id': competence.id}) }}">{{ competence.nom }}</a></td>
                <td>{{ competence.niveau }} %</td>
                <td>
                    <a class="btn btn-danger pull-right" 
                       href="{{ path('guy_gestion_competence_supprimer', {'id': competence.id}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>