<a class="btn btn-success" href="{{ path('guy_gestion_experience_ajouter') }}"><i class="fa fa-plus"></i></a>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td><a href="{{ path('guy_gestion_experience_modifier', {'id': experience.id}) }}">{{ experience.nom|striptags }}</a></td>
                <td>
                    <a class="btn btn-danger pull-right" 
                       href="{{ path('guy_gestion_experience_supprimer', {'id': experience.id}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>