{% extends "::base.html.twig" %}

{% block title %}Admin - {% block guy_admin_titre %}{% endblock %}{% endblock %}

{% block body %}
    <div class="container">
        <h2>{% block guy_admin_content_title %}Administration{% endblock %}</h2>
        <hr />        
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key == 'error' ? 'danger' : key }}">
                    <i class="fa fa-{{ key == 'info' ? 'info-sign' : (key == 'error' ? 'warning' : key == 'success' ? 'check' : key) }}"></i> 
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block guy_admin_content %}{% endblock %}
    </div>
    <br />
    <br />
{% endblock %}

{% block css %}
    {% stylesheets 
        'bower/summernote/dist/summernote.css'
        filter='cssrewrite,?yui_css'
        output='prod/css/admin.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}

{% block js %} 
    {% javascripts 'bower/summernote/dist/summernote.min.js' 'bundles/guyadmin/js/admin.js' 
        filter='?yui_js' 
        output='prod/js/admin.js'
    %}        
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}